In [1]:
import alphien

Hello Bhargavbhatt, welcome to Alphien!

Importing your Alphien sub-packages...

import alphien.data
import alphien.portfolio
import alphien.tutorial

Importing your Qlib functions...                                   from team:

No functions in Qlib teams: UBSSPEQUITY, UniliFinance, bhargavbhatt

Alphien environment imported. Let's do some research now!

In [2]:
companies_data = alphien.data.getTickersSP500()
companies_data

,ticker,company,constituentStart,constituentEnd,industryCode,industry
tablerownames,,,,,,
2,A.US Equity,Agilent Technologies Inc.,2000-06-02,NaT,351010,Health Care Equipment & Supplies
3,AA.US Equity,Alcoa Inc,1970-01-01,2016-10-31,151040,Metals & Mining
6,AAL.US Equity,American Airlines Group Inc,2015-03-20,NaT,203020,Airlines
7,AAP.US Equity,Advance Auto Parts Inc,2015-07-08,NaT,255040,Specialty Retail
8,AAPL.US Equity,Apple Inc.,1982-11-18,NaT,452020,Computers & Peripherals
...,...,...,...,...,...,...
1672,YHOO.US Equity,Yahoo! Inc,1999-12-07,2017-06-17,451010,Internet Software & Services
1675,YUM.US Equity,Yum! Brands Inc.,1997-10-06,NaT,253010,"Hotels, Restaurants & Leisure"
1678,ZBH.US Equity,Zimmer Biomet Holdings Inc,2001-08-06,NaT,351010,Health Care Equipment & Supplies
1681,ZION.US Equity,Zions Bancorp,2001-06-22,NaT,401010,Commercial Banks
1683,ZTS.US Equity,Zoetis Inc,2013-06-21,NaT,352020,Pharmaceuticals

In [31]:
ticker = companies_data.ticker.unique()
ticker.size
#ticker = ['AMZN.US Equity', 'NFLX.US Equity']

667

In [34]:
company_price = alphien.data.getHistoryData(ticker[10:20], zoom='2007::2016')

In [35]:
dataList = alphien.data.getTickersSP500Data()
SPWIndex = alphien.data.getHistoryData(dataList.ticker.iloc[16],zoom="2007::2016")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [28]:
combine_dataframe = pd.merge(SPWIndex,company_price,on='date',how='outer')
rebased = combine_dataframe.apply(lambda x: x/x.loc[x.first_valid_index()])

In [29]:
#import matplotlib.pyplot as plt
#plt.xlabel('Years')
#plt.ylabel('Value')
#plt.plot(rebased)
#plt.savefig('filename.png', dpi=1200)

In [30]:
rebased*100

,SPW Index,ACN.US Equity,ACS.US Equity,ADBE.US Equity,ADI.US Equity,ADM.US Equity,ADP.US Equity,ADS.US Equity,ADSK.US Equity,AEE.US Equity,AEP.US Equity
date,,,,,,,,,,,
2007-01-02,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,99.915428,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2007-01-04,100.010574,102.253983,99.979652,102.254509,101.735687,99.438545,101.012192,100.842964,101.898422,99.703705,99.976662
2007-01-05,99.294312,100.824631,99.593079,101.753510,100.578560,99.282593,100.722992,100.936630,103.377708,98.351852,98.109695
2007-01-08,99.539062,102.281464,98.799591,101.327660,101.370285,99.781654,100.784973,100.749298,103.057190,98.444443,98.039673
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-23,187.371078,322.924683,NaN,263.076172,224.847748,140.829697,212.621353,364.720581,187.376709,97.129631,147.421234
2016-12-27,187.959427,323.117096,NaN,262.975983,226.278931,142.389267,213.406326,364.829865,187.327423,97.333336,147.327896
2016-12-28,185.988251,320.533264,NaN,259.944885,223.995117,141.422333,212.869232,356.806122,184.960526,95.962959,145.600937
2016-12-29,186.080750,321.632751,NaN,259.719452,224.056030,141.484711,213.695496,357.867645,184.861938,97.333336,147.677948
2016-12-30,185.385651,321.962585,NaN,257.890808,221.132782,142.389267,212.311508,356.696869,182.470413,97.148148,146.931152